.tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.table-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.table-element {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 20px 0;
    width: 20%;
    border: 1px solid black;
    text-align: center;
}
.table-row {
    display: flex;
    justify-content: space-between;
}
button{
    display: block;
    background-color: antiquewhite;
    border: 1px solid black;
}
.RED{
    border: 3px solid red;
}
.BLUE{
    border: 3px solid blue;
}
.GREEN{
    border: 3px solid green;
}